@using System.Globalization
<!-- Para renderizar de maneira dinâmica as páginas -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" /> <!-- asp-append-version="true" para trabalhar caso queira trocar o css sem ter problemas -->
    <link rel="stylesheet" href="~/aspNet.styles.css" asp-append-version="true" /> <!-- asp-append-version="true" para trabalhar caso queira trocar o css sem ter problemas -->
    <script src="js/site.js" defer></script>

</head>

<body>
    <header>
        <partial name="View/Shared/_NavMenuPartial" />
    </header>
<main>
    @RenderBody()
</main>
<footer>

</footer>

@RenderSection("scripts", required:false)

</body>

</html>
