@using System.Globalization
<!-- Para renderizar de maneira dinâmica as páginas -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>

    <title>Sobre</title>

</head>

<body>
    <main>
        @RenderBody()
    </main>
</body>

</html>
