<nav>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Sobre">Sobre</a>
        </li>
        <li>
            <a href="/Entrar">Login</a>
        </li>
        <li>
            <a href="/Categories">Categorias</a>
        </li>
    </ul>

</nav>