@page "~/Sobre"
<!-- Quando colocamos no lado do page "~/Sobre" quer dizer que na url tera escrito desta forma e não about -->
@model aspNet.pages.AboutModel
@{
    Layout = "View/Shared/_Layout"; // Precisa ter página View e Shared
    ViewData["Title"] = "Sobre";
}


<title>Sobre</title>

<div>
    <h1>About</h1>
</div>