@page "~/Entrar"
@model aspNet.pages.LoginModel
@{
    Layout = "View/Shared/_Layout"; // Precisa ter página Shared
    ViewData["Title"] = "Login";
}



<div>
    <p>Login</p>
</div>

@section scripts{
    <script src="~/js/site.js">
        
    </script>
}